html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(240, 240, 240);
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}