* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

@mixin font-size-weight($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}