
{
    "env": {
      "browser": true,
      "node": true
    },
    "extends": ["airbnb-base"],
    "rules": {
      "no-param-reassign": 0,
      "no-unused-vars": 0,
      "no-useless-return": 0,
      "no-undef": 0,
      "no-restricted-syntax": 0,
      "arrow-body-style": 0,
      "no-unreachable": 0,
      "no-console": 0,
      "func-names": 0

    }
  }