.card-filter-cnt {
    width: 30rem;
    font-family: $font-arial;
    background-color: $color-white;
    line-height: 3.6rem;
    letter-spacing: -0.032rem;

    @include font-size-weight(1.6rem, 400);
}