.card {

    padding: 0;
    margin: 0;

    .card__image {
        background-image: url('/img/background_pattern.png');
        background-repeat: no-repeat;
        background-size: 250px 200px;
        background-position: 50px;
    }

    .card__profile-img {
        width: 150px;
        margin: 0 0 0 16px;
        vertical-align: bottom;
    }

    .card__content {
        background-color: $coral;
        padding: 0 16px;
        color: white;
    }

    .card__title {
        margin: 0;
        padding: 20px 0 0 0;
        font-size: 22px;
        letter-spacing: -0.44px;
        font-weight: inherit;
    }

    .card__subtitle {
        margin: 0;
        font-size: 16px;
        font-weight: inherit;
        margin: 0 0 20px 0;
    }

    .card__sprite {
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 160px 0 0 45px;
        background: url('/img/badges_sprite.png');
        background-size: 742px 890px;
    }

    .sprite-21 {
        background-position: -300.5px -810px;
    }

    // Not adjusted due to time constraints

    .sprite-11 {
        background-position: -200.5px -610px;
    }

    // Not adjusted due to time constraints

    .sprite-12 {
        background-position: -500.5px -710px;
    }

    // Not adjusted due to time constraints

    .sprite-1 {
        background-position: -500.5px -210px;
    }

    // Not adjusted due to time constraints

    .sprite-26 {
        background-position: -300.5px -110px;
    }

    .card__stats {
        list-style: none;
        padding: 0 0 16px 0;
        color: #38003c;
    }

    .card__stats-detail:not(:last-child) {
        margin: 0 0 2px 0;
    }

    .card__stats-detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40px;
        background-color: #eaeaea;
        box-shadow: 0 0 8px rgba(56, 0, 60, 0.25);
        padding: 0 10px;
    }
}
